flows.json
[
    {
        "id": "e3dc46e26aa5dc2d",
        "type": "tab",
        "label": "Latency",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "229d7a7631bbf000",
        "type": "tab",
        "label": "Set GeoIP ",
        "disabled": false,
        "info": ""
    },
    {
        "id": "e0ba70b9fc869cea",
        "type": "tls-config",
        "name": "",
        "cert": "",
        "key": "",
        "ca": "",
        "certname": "",
        "keyname": "",
        "caname": "",
        "servername": "",
        "verifyservercert": false,
        "alpnprotocol": ""
    },
    {
        "id": "3c9fafa.7dd6a5",
        "type": "mqtt-broker",
        "name": "",
        "broker": "sportradar.edge-cloud.io.akadns.net",
        "port": "1883",
        "tls": "2d748829.2503d8",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "compatmode": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "demo/ota/clientstate",
        "birthQos": "1",
        "birthRetain": "false",
        "birthPayload": "$(CLIENTCON)",
        "birthMsg": {},
        "closeTopic": "demo/ota/clientstate",
        "closeQos": "1",
        "closeRetain": "false",
        "closePayload": "$(CLIENTCLS)",
        "closeMsg": {},
        "willTopic": "demo/ota/clientstate",
        "willQos": "1",
        "willRetain": "false",
        "willPayload": "$(CLIENTLWT)",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "2d748829.2503d8",
        "type": "tls-config",
        "name": "demo.mqtttest.com",
        "cert": "",
        "key": "",
        "ca": "",
        "certname": "",
        "keyname": "",
        "caname": "",
        "servername": "demo.mqtttest.com",
        "verifyservercert": false,
        "alpnprotocol": ""
    },
    {
        "id": "68b1e2e7d081a04f",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "75212cba7220a85b",
        "type": "ui_group",
        "name": "Default",
        "tab": "68b1e2e7d081a04f",
        "order": 1,
        "disp": true,
        "width": "20",
        "collapse": false,
        "className": ""
    },
    {
        "id": "f163a85e1835b32a",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "342858d914862f71",
        "type": "ui_tab",
        "name": "Client State",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "7472a7f101b1b2b6",
        "type": "ui_group",
        "name": "Client State",
        "tab": "342858d914862f71",
        "order": 1,
        "disp": true,
        "width": 24,
        "collapse": false,
        "className": ""
    },
    {
        "id": "f7679be1bc67b1ec",
        "type": "ui_tab",
        "name": "Rate Limited Release",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "7f15192b8bf0eddd",
        "type": "ui_group",
        "name": "Rate Limited Release ",
        "tab": "f7679be1bc67b1ec",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "dfc3a9b31664db4a",
        "type": "ui_tab",
        "name": "Intelligent Download Meter",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "6748018c09ef6763",
        "type": "ui_group",
        "name": "Intelligent Download Meter",
        "tab": "dfc3a9b31664db4a",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "6868ab09dbcd3929",
        "type": "ui_group",
        "name": "Latency",
        "tab": "fa3ba2611833953b",
        "order": 1,
        "disp": false,
        "width": "18",
        "collapse": false
    },
    {
        "id": "fa3ba2611833953b",
        "type": "ui_tab",
        "name": "Latency",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "90ec2e579c374db4",
        "type": "mqtt-broker",
        "name": "",
        "broker": "test.mosquitto.org",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "6eb2394e58986df1",
        "type": "mqtt in",
        "z": "e3dc46e26aa5dc2d",
        "name": "Subscribe to Latency Test Messages via MQTT",
        "topic": "scores/latency-test",
        "qos": "2",
        "datatype": "json",
        "broker": "3c9fafa.7dd6a5",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 240,
        "y": 320,
        "wires": [
            [
                "e02dc13b190d8117"
            ]
        ]
    },
    {
        "id": "e02dc13b190d8117",
        "type": "function",
        "z": "e3dc46e26aa5dc2d",
        "name": "Measure Publish-Subscribe Latency of message",
        "func": "var now = Date.now();\nvar then = msg.payload.timestamp;\nmsg.payload.latency = now - then;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 260,
        "y": 420,
        "wires": [
            [
                "679bc17c490e1e4c",
                "2d05e99d94147605"
            ]
        ]
    },
    {
        "id": "5cbe8bdf544b1489",
        "type": "mqtt out",
        "z": "e3dc46e26aa5dc2d",
        "name": "Publish Latency Results to MQTT",
        "topic": "scores/latency-results",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "3c9fafa.7dd6a5",
        "x": 1280,
        "y": 740,
        "wires": []
    },
    {
        "id": "679bc17c490e1e4c",
        "type": "debug",
        "z": "e3dc46e26aa5dc2d",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 610,
        "y": 420,
        "wires": []
    },
    {
        "id": "2d05e99d94147605",
        "type": "change",
        "z": "e3dc46e26aa5dc2d",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.latency",
                "tot": "msg",
                "dc": true
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 750,
        "y": 600,
        "wires": [
            [
                "f96bbd6b6759d1e7"
            ]
        ]
    },
    {
        "id": "f96bbd6b6759d1e7",
        "type": "calculate",
        "z": "e3dc46e26aa5dc2d",
        "name": "",
        "pauseType": "rate",
        "calculation": "average",
        "timeout": "10",
        "timeoutUnits": "seconds",
        "rate": "50",
        "x": 760,
        "y": 760,
        "wires": [
            [
                "f8335962a86872e6",
                "038af8e705a2ebea"
            ]
        ]
    },
    {
        "id": "74f7323cae3e57d1",
        "type": "change",
        "z": "e3dc46e26aa5dc2d",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload.subscriber.countryCode",
                "pt": "msg",
                "to": "countryCode",
                "tot": "global",
                "dc": true
            },
            {
                "t": "set",
                "p": "payload.subscriber.org",
                "pt": "msg",
                "to": "org",
                "tot": "global",
                "dc": true
            },
            {
                "t": "set",
                "p": "payload.subscriber.regionName",
                "pt": "msg",
                "to": "regionName",
                "tot": "global",
                "dc": true
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1080,
        "y": 600,
        "wires": [
            [
                "5cbe8bdf544b1489",
                "d3d53638761f9583"
            ]
        ]
    },
    {
        "id": "d3d53638761f9583",
        "type": "debug",
        "z": "e3dc46e26aa5dc2d",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1290,
        "y": 620,
        "wires": []
    },
    {
        "id": "f8335962a86872e6",
        "type": "template",
        "z": "e3dc46e26aa5dc2d",
        "name": "convert to json ",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "{\"latency\":{{payload}}}",
        "output": "json",
        "x": 980,
        "y": 700,
        "wires": [
            [
                "74f7323cae3e57d1"
            ]
        ]
    },
    {
        "id": "038af8e705a2ebea",
        "type": "debug",
        "z": "e3dc46e26aa5dc2d",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 870,
        "y": 820,
        "wires": []
    },
    {
        "id": "59b7ea26177bccd7",
        "type": "http request",
        "z": "229d7a7631bbf000",
        "name": "Lookup public IP address",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "wgetip.com",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 210,
        "y": 140,
        "wires": [
            [
                "a97a0d43069e4583"
            ]
        ]
    },
    {
        "id": "a97a0d43069e4583",
        "type": "template",
        "z": "229d7a7631bbf000",
        "name": "Format GeoIP Lookup",
        "field": "url",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "http://ip-api.com/json/{{payload}}",
        "output": "str",
        "x": 200,
        "y": 180,
        "wires": [
            [
                "f88a7d07ac97dc53"
            ]
        ]
    },
    {
        "id": "f88a7d07ac97dc53",
        "type": "http request",
        "z": "229d7a7631bbf000",
        "name": "GeoIP Lookup",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 180,
        "y": 220,
        "wires": [
            [
                "c3a6e5545592b7ca"
            ]
        ]
    },
    {
        "id": "c3a6e5545592b7ca",
        "type": "change",
        "z": "229d7a7631bbf000",
        "name": "Set Global Variables ",
        "rules": [
            {
                "t": "set",
                "p": "regionName",
                "pt": "global",
                "to": "payload.regionName",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "countryCode",
                "pt": "global",
                "to": "payload.countryCode",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "org",
                "pt": "global",
                "to": "payload.org",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 200,
        "y": 260,
        "wires": [
            []
        ]
    },
    {
        "id": "9501098c7c34614e",
        "type": "inject",
        "z": "229d7a7631bbf000",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payloadType": "date",
        "x": 180,
        "y": 80,
        "wires": [
            [
                "59b7ea26177bccd7"
            ]
        ]
    }
]
