flows.json
[
    {
        "id": "f6f2187d.f17ca8",
        "type": "tab",
        "label": "Speech to Text Proxy ",
        "disabled": false,
        "info": ""
    },
    {
        "id": "8dca534144bd912e",
        "type": "tab",
        "label": "Server Side",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "8cfabf217d39cd0b",
        "type": "tab",
        "label": "Client State",
        "disabled": false,
        "info": ""
    },
    {
        "id": "7a4a7748d405d181",
        "type": "tab",
        "label": "Rate Limited Release",
        "disabled": false,
        "info": ""
    },
    {
        "id": "29c7ce68c65995bf",
        "type": "tab",
        "label": "Intelligent Download Monitor",
        "disabled": false,
        "info": ""
    },
    {
        "id": "e3dc46e26aa5dc2d",
        "type": "tab",
        "label": "Latency",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "229d7a7631bbf000",
        "type": "tab",
        "label": "Set GeoIP ",
        "disabled": false,
        "info": ""
    },
    {
        "id": "a5002017cf33a5c6",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "e9c3ce97643fda37",
        "type": "tab",
        "label": "Set Env Variables",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "e0ba70b9fc869cea",
        "type": "tls-config",
        "name": "",
        "cert": "",
        "key": "",
        "ca": "",
        "certname": "",
        "keyname": "",
        "caname": "",
        "servername": "",
        "verifyservercert": false,
        "alpnprotocol": ""
    },
    {
        "id": "3c9fafa.7dd6a5",
        "type": "mqtt-broker",
        "name": "",
        "broker": "nats.edge-cloud.io",
        "port": "1883",
        "tls": "2d748829.2503d8",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "compatmode": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "demo/ota/clientstate",
        "birthQos": "1",
        "birthRetain": "false",
        "birthPayload": "$(CLIENTIDCON)",
        "birthMsg": {},
        "closeTopic": "demo/ota/clientstate",
        "closeQos": "1",
        "closeRetain": "false",
        "closePayload": "$(CLIENTIDCLS)",
        "closeMsg": {},
        "willTopic": "demo/ota/clientstate",
        "willQos": "1",
        "willRetain": "false",
        "willPayload": "$(CLIENTIDLWT)",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "2d748829.2503d8",
        "type": "tls-config",
        "name": "demo.mqtttest.com",
        "cert": "",
        "key": "",
        "ca": "",
        "certname": "",
        "keyname": "",
        "caname": "",
        "servername": "demo.mqtttest.com",
        "verifyservercert": false,
        "alpnprotocol": ""
    },
    {
        "id": "8e33ee6e.46c07",
        "type": "gauth",
        "z": "8dca534144bd912e"
    },
    {
        "id": "68b1e2e7d081a04f",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "75212cba7220a85b",
        "type": "ui_group",
        "name": "Default",
        "tab": "68b1e2e7d081a04f",
        "order": 1,
        "disp": true,
        "width": "20",
        "collapse": false,
        "className": ""
    },
    {
        "id": "f163a85e1835b32a",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "342858d914862f71",
        "type": "ui_tab",
        "name": "Client State",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "7472a7f101b1b2b6",
        "type": "ui_group",
        "name": "Client State",
        "tab": "342858d914862f71",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "f7679be1bc67b1ec",
        "type": "ui_tab",
        "name": "Rate Limited Release",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "7f15192b8bf0eddd",
        "type": "ui_group",
        "name": "Rate Limited Release ",
        "tab": "f7679be1bc67b1ec",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "dfc3a9b31664db4a",
        "type": "ui_tab",
        "name": "Intelligent Download Meter",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "6748018c09ef6763",
        "type": "ui_group",
        "name": "Intelligent Download Meter",
        "tab": "dfc3a9b31664db4a",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "6868ab09dbcd3929",
        "type": "ui_group",
        "name": "Latency",
        "tab": "fa3ba2611833953b",
        "order": 1,
        "disp": false,
        "width": "18",
        "collapse": false
    },
    {
        "id": "fa3ba2611833953b",
        "type": "ui_tab",
        "name": "Latency",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "3cc11d24.ff01a2",
        "type": "comment",
        "z": "f6f2187d.f17ca8",
        "name": "WARNING: please check you have started this container with a volume that is mounted to /data\\n otherwise any flow changes are lost when you redeploy or upgrade the container\\n (e.g. upgrade to a more recent node-red docker image).\\n  If you are using named volumes you can ignore this warning.\\n Double click or see info side panel to learn how to start Node-RED in Docker to save your work",
        "info": "\nTo start docker with a bind mount volume (-v option), for example:\n\n```\ndocker run -it -p 1880:1880 -v /home/user/node_red_data:/data --name mynodered nodered/node-red\n```\n\nwhere `/home/user/node_red_data` is a directory on your host machine where you want to store your flows.\n\nIf you do not do this then you can experiment and redploy flows, but if you restart or upgrade the container the flows will be disconnected and lost. \n\nThey will still exist in a hidden data volume, which can be recovered using standard docker techniques, but that is much more complex than just starting with a named volume as described above.",
        "x": 350,
        "y": 80,
        "wires": []
    },
    {
        "id": "9775ad557850f464",
        "type": "http in",
        "z": "f6f2187d.f17ca8",
        "name": "Listen on STT endpoint for WAV files ",
        "url": "/stt",
        "method": "post",
        "upload": true,
        "swaggerDoc": "",
        "x": 330,
        "y": 220,
        "wires": [
            [
                "34ab6f468924748d",
                "f4f7082e32d94516"
            ]
        ]
    },
    {
        "id": "e26004828c0222f1",
        "type": "http request",
        "z": "f6f2187d.f17ca8",
        "name": "POST WAV file to Deepgram STT API Provider",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "body",
        "url": "https://api.deepgram.com/v1/listen",
        "tls": "e0ba70b9fc869cea",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 380,
        "y": 340,
        "wires": [
            [
                "b7048873655971ef"
            ]
        ]
    },
    {
        "id": "34ab6f468924748d",
        "type": "change",
        "z": "f6f2187d.f17ca8",
        "name": "Grab WAV payload and set Auth token",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "req.files[0].buffer",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "headers.Authorization",
                "pt": "msg",
                "to": "Token fcf44c002379e138f632d6786fb70a4a6793bfac",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 360,
        "y": 280,
        "wires": [
            [
                "e26004828c0222f1"
            ]
        ]
    },
    {
        "id": "69239f4a022443b6",
        "type": "http response",
        "z": "f6f2187d.f17ca8",
        "name": "Return Transcript to client ",
        "statusCode": "",
        "headers": {},
        "x": 1380,
        "y": 220,
        "wires": []
    },
    {
        "id": "b7048873655971ef",
        "type": "change",
        "z": "f6f2187d.f17ca8",
        "name": "Write Transcript to Global Payload",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 350,
        "y": 400,
        "wires": [
            []
        ]
    },
    {
        "id": "f4f7082e32d94516",
        "type": "delay",
        "z": "f6f2187d.f17ca8",
        "name": "Delay to allow API provider to reply ",
        "pauseType": "delay",
        "timeout": "500",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 690,
        "y": 220,
        "wires": [
            [
                "5c55a0e2f58c3dbd"
            ]
        ]
    },
    {
        "id": "5c55a0e2f58c3dbd",
        "type": "change",
        "z": "f6f2187d.f17ca8",
        "name": "Grab transcript from Global Payload",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload",
                "tot": "global"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1030,
        "y": 220,
        "wires": [
            [
                "69239f4a022443b6"
            ]
        ]
    },
    {
        "id": "ef3598e6.c60e08",
        "type": "template",
        "z": "8dca534144bd912e",
        "name": "Form Update Message",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "{\"url\": \"https://ota.mqtttest.com/{{filename}}\",\"file\": \"{{{filename}}}\",\"time\":\"{{{timestamp}}}\"}",
        "output": "json",
        "x": 470,
        "y": 460,
        "wires": [
            [
                "3a617688.e35b4a",
                "bf6278b5.916d58",
                "7511971e.449e48"
            ]
        ]
    },
    {
        "id": "3a617688.e35b4a",
        "type": "mqtt out",
        "z": "8dca534144bd912e",
        "name": "Send Notification to MQTT Update Channel",
        "topic": "demo/ota/updatechannel",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "3c9fafa.7dd6a5",
        "x": 810,
        "y": 460,
        "wires": []
    },
    {
        "id": "4ae1ecf5.cd82c4",
        "type": "comment",
        "z": "8dca534144bd912e",
        "name": "OTA Server",
        "info": "",
        "x": 310,
        "y": 220,
        "wires": []
    },
    {
        "id": "fee4db6e.466618",
        "type": "change",
        "z": "8dca534144bd912e",
        "name": "place timestamp ",
        "rules": [
            {
                "t": "set",
                "p": "timestamp",
                "pt": "msg",
                "to": "",
                "tot": "date"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "demo/ota/update",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 350,
        "y": 360,
        "wires": [
            [
                "52f4d5d9.5aa1ac",
                "208dd904.0d9296"
            ]
        ]
    },
    {
        "id": "2cf6eb1b.0ed774",
        "type": "mqtt in",
        "z": "8dca534144bd912e",
        "name": "Listen for OTA Reporting Messages",
        "topic": "demo/ota/stats",
        "qos": "0",
        "datatype": "auto",
        "broker": "3c9fafa.7dd6a5",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 400,
        "y": 600,
        "wires": [
            [
                "f865c80e.3153f8",
                "aaf8fe7b.a487e"
            ]
        ]
    },
    {
        "id": "7a37e6d6.f000e8",
        "type": "comment",
        "z": "8dca534144bd912e",
        "name": "OTA Reporter",
        "info": "",
        "x": 330,
        "y": 560,
        "wires": []
    },
    {
        "id": "f865c80e.3153f8",
        "type": "json",
        "z": "8dca534144bd912e",
        "name": "Convert MQTT message to JSON",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 400,
        "y": 660,
        "wires": [
            [
                "1ab61ecc.3e2d91",
                "16742f5b.bc5331"
            ]
        ]
    },
    {
        "id": "52f4d5d9.5aa1ac",
        "type": "debug",
        "z": "8dca534144bd912e",
        "name": "debug",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1330,
        "y": 400,
        "wires": []
    },
    {
        "id": "bf6278b5.916d58",
        "type": "debug",
        "z": "8dca534144bd912e",
        "name": "debug",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1330,
        "y": 440,
        "wires": []
    },
    {
        "id": "69fbd83.7580f28",
        "type": "change",
        "z": "8dca534144bd912e",
        "name": "Format Upload message",
        "rules": [
            {
                "t": "set",
                "p": "localFilename",
                "pt": "msg",
                "to": "/home/ubuntu/ota/100MB",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "filename",
                "pt": "msg",
                "to": "100MB",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 370,
        "y": 320,
        "wires": [
            [
                "fee4db6e.466618"
            ]
        ]
    },
    {
        "id": "e11ec5c9.a70bc8",
        "type": "mqtt in",
        "z": "8dca534144bd912e",
        "name": "Listen for bandwidth stat updates",
        "topic": "demo/ota/bandwidth",
        "qos": "1",
        "datatype": "auto",
        "broker": "3c9fafa.7dd6a5",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 390,
        "y": 1140,
        "wires": [
            [
                "802d5157.a9535"
            ]
        ]
    },
    {
        "id": "d1272f70.c7f46",
        "type": "csv",
        "z": "8dca534144bd912e",
        "name": "Convert to CSV",
        "sep": "\\",
        "hdrin": "",
        "hdrout": "none",
        "multi": "mult",
        "ret": "\\n",
        "temp": "",
        "skip": "0",
        "strings": true,
        "include_empty_strings": false,
        "include_null_values": "",
        "x": 340,
        "y": 1260,
        "wires": [
            [
                "54b2442e.560f1c",
                "81e55e59.2a34c"
            ]
        ]
    },
    {
        "id": "802d5157.a9535",
        "type": "change",
        "z": "8dca534144bd912e",
        "name": "Clean up incoming message",
        "rules": [
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": " ",
                "fromt": "str",
                "to": "",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 380,
        "y": 1200,
        "wires": [
            [
                "d1272f70.c7f46"
            ]
        ]
    },
    {
        "id": "54b2442e.560f1c",
        "type": "change",
        "z": "8dca534144bd912e",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload[0].col1",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 350,
        "y": 1320,
        "wires": [
            [
                "6b0875d9.5e92ac"
            ]
        ]
    },
    {
        "id": "a212468e.46e058",
        "type": "comment",
        "z": "8dca534144bd912e",
        "name": "Aggegrate and Report on real-time bandwidth",
        "info": "",
        "x": 410,
        "y": 1100,
        "wires": []
    },
    {
        "id": "94d39676.d94888",
        "type": "mqtt out",
        "z": "8dca534144bd912e",
        "name": "Signal Clients to start/stop BW Monitor",
        "topic": "demo/ota/bwmon",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "3c9fafa.7dd6a5",
        "x": 1000,
        "y": 140,
        "wires": []
    },
    {
        "id": "7c34fd56.db40d4",
        "type": "file",
        "z": "8dca534144bd912e",
        "name": "Update Aggegate Bandwidth Figure to disk",
        "filename": "/data/bandwidth",
        "filenameType": "str",
        "appendNewline": true,
        "createDir": false,
        "overwriteFile": "true",
        "encoding": "none",
        "x": 430,
        "y": 1500,
        "wires": [
            []
        ]
    },
    {
        "id": "1ab61ecc.3e2d91",
        "type": "switch",
        "z": "8dca534144bd912e",
        "name": "Does Reporting Message indicate 200 OK (Complete)",
        "property": "payload[0][1]",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "200",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 840,
        "y": 600,
        "wires": [
            [
                "f5ee3a3f.708ba8"
            ]
        ]
    },
    {
        "id": "ac62ab24.7df528",
        "type": "template",
        "z": "8dca534144bd912e",
        "name": "Form Completion Receipt",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "{\"title\":\"{{payload}}\",\"description\":\"Completed\",\"icon\":\"https://cdn.iconscout.com/icon/free/png-256/gas-pump-2664449-2208711.png\"}",
        "output": "str",
        "x": 750,
        "y": 700,
        "wires": [
            [
                "9dc5254e.948ca8"
            ]
        ]
    },
    {
        "id": "9dc5254e.948ca8",
        "type": "file",
        "z": "8dca534144bd912e",
        "name": "Build Completion Table",
        "filename": "/data/completed",
        "filenameType": "str",
        "appendNewline": true,
        "createDir": false,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 750,
        "y": 740,
        "wires": [
            []
        ]
    },
    {
        "id": "f5ee3a3f.708ba8",
        "type": "change",
        "z": "8dca534144bd912e",
        "name": "Set Client ID for Completion Receipt",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload[0][2]",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 790,
        "y": 660,
        "wires": [
            [
                "ac62ab24.7df528"
            ]
        ]
    },
    {
        "id": "eb185fd3.4d565",
        "type": "file in",
        "z": "8dca534144bd912e",
        "name": "Read Completion Table",
        "filename": "/data/completed",
        "filenameType": "str",
        "format": "lines",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": false,
        "x": 750,
        "y": 880,
        "wires": [
            [
                "a65dee6c.305d4"
            ]
        ]
    },
    {
        "id": "1f96e8c1.18eec7",
        "type": "join",
        "z": "8dca534144bd912e",
        "name": "Aggregate Completion Receipts into Array",
        "mode": "custom",
        "build": "array",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "2",
        "count": "",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 830,
        "y": 960,
        "wires": [
            [
                "77f11210.7b3b3c"
            ]
        ]
    },
    {
        "id": "a65dee6c.305d4",
        "type": "json",
        "z": "8dca534144bd912e",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 690,
        "y": 920,
        "wires": [
            [
                "1f96e8c1.18eec7"
            ]
        ]
    },
    {
        "id": "8b8739af.9e7e18",
        "type": "file",
        "z": "8dca534144bd912e",
        "name": "Reset Completion Table",
        "filename": "/data/completed",
        "filenameType": "str",
        "appendNewline": true,
        "createDir": false,
        "overwriteFile": "true",
        "encoding": "none",
        "x": 370,
        "y": 920,
        "wires": [
            [
                "a65dee6c.305d4"
            ]
        ]
    },
    {
        "id": "896e178e.bbdc78",
        "type": "comment",
        "z": "8dca534144bd912e",
        "name": "Bandwidth Monitor",
        "info": "",
        "x": 370,
        "y": 60,
        "wires": []
    },
    {
        "id": "5b6991b4.b87e9",
        "type": "comment",
        "z": "8dca534144bd912e",
        "name": "Completion Reporting",
        "info": "",
        "x": 740,
        "y": 560,
        "wires": []
    },
    {
        "id": "7c5a8912.732bb8",
        "type": "comment",
        "z": "8dca534144bd912e",
        "name": "Completion Reporting",
        "info": "",
        "x": 360,
        "y": 840,
        "wires": []
    },
    {
        "id": "81e55e59.2a34c",
        "type": "debug",
        "z": "8dca534144bd912e",
        "name": "debug",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1070,
        "y": 1120,
        "wires": []
    },
    {
        "id": "aaf8fe7b.a487e",
        "type": "debug",
        "z": "8dca534144bd912e",
        "name": "debug",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1050,
        "y": 760,
        "wires": []
    },
    {
        "id": "16742f5b.bc5331",
        "type": "moment",
        "z": "8dca534144bd912e",
        "name": "",
        "topic": "",
        "input": "payload[0][3]",
        "inputType": "msg",
        "inTz": "Africa/Abidjan",
        "adjAmount": 0,
        "adjType": "days",
        "adjDir": "add",
        "format": "",
        "locale": "C",
        "output": "payload[0][3]",
        "outputType": "msg",
        "outTz": "Africa/Abidjan",
        "x": 360,
        "y": 700,
        "wires": [
            [
                "247617ac.aea4f8"
            ]
        ]
    },
    {
        "id": "208dd904.0d9296",
        "type": "moment",
        "z": "8dca534144bd912e",
        "name": "",
        "topic": "",
        "input": "payload.timestamp",
        "inputType": "msg",
        "inTz": "Africa/Abidjan",
        "adjAmount": 0,
        "adjType": "days",
        "adjDir": "add",
        "format": "",
        "locale": "C",
        "output": "payload.timestamp",
        "outputType": "msg",
        "outTz": "Africa/Abidjan",
        "x": 360,
        "y": 400,
        "wires": [
            [
                "ef3598e6.c60e08"
            ]
        ]
    },
    {
        "id": "247617ac.aea4f8",
        "type": "GSheet",
        "z": "8dca534144bd912e",
        "creds": "8e33ee6e.46c07",
        "method": "append",
        "action": "",
        "sheet": "1pYflAvy8_VEEZMII4ShK9ZD7QJ7QAu3JpVdW9UvHTDY",
        "cells": "Sheet1!A1:A6",
        "flatten": false,
        "name": "Write to Google Sheet",
        "x": 400,
        "y": 800,
        "wires": [
            []
        ]
    },
    {
        "id": "6b0875d9.5e92ac",
        "type": "aggregator",
        "z": "8dca534144bd912e",
        "name": "Aggregate messages 1/sec.",
        "topic": "",
        "intervalCount": "1",
        "intervalUnits": "s",
        "submitIncompleteInterval": true,
        "submitPerTopic": false,
        "aggregationType": "sum",
        "x": 380,
        "y": 1380,
        "wires": [
            [
                "676de3a3.fd2a3c"
            ]
        ]
    },
    {
        "id": "676de3a3.fd2a3c",
        "type": "calculator",
        "z": "8dca534144bd912e",
        "name": "Convert Aggregate to Mbps",
        "inputMsgField": "payload",
        "outputMsgField": "payload",
        "operation": "mult",
        "constant": "0.008",
        "round": true,
        "decimals": "1",
        "x": 380,
        "y": 1440,
        "wires": [
            [
                "7c34fd56.db40d4",
                "69ceda27.906c54",
                "fff05c25.60bbe"
            ]
        ]
    },
    {
        "id": "a3db03eb.82afc",
        "type": "ui_button",
        "z": "8dca534144bd912e",
        "name": "Stop BW Monitoring (send command to clients)",
        "group": "75212cba7220a85b",
        "order": 10,
        "width": 8,
        "height": 1,
        "passthru": false,
        "label": "Stop BW Monitoring (send command to clients)",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "SIGHUP",
        "payloadType": "str",
        "topic": "",
        "topicType": "str",
        "x": 550,
        "y": 140,
        "wires": [
            [
                "94d39676.d94888"
            ]
        ]
    },
    {
        "id": "702883b9.4e31ac",
        "type": "ui_button",
        "z": "8dca534144bd912e",
        "name": "Start BW Monitoring (send command to clients)",
        "group": "75212cba7220a85b",
        "order": 9,
        "width": "6",
        "height": 1,
        "passthru": false,
        "label": "Start BW Monitoring (send command to clients)",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "date",
        "topic": "",
        "topicType": "str",
        "x": 550,
        "y": 100,
        "wires": [
            [
                "94d39676.d94888"
            ]
        ]
    },
    {
        "id": "5b3b8f6c.5f91a",
        "type": "ui_button",
        "z": "8dca534144bd912e",
        "name": "Start Download",
        "group": "75212cba7220a85b",
        "order": 3,
        "width": 8,
        "height": 1,
        "passthru": false,
        "label": "Start Download",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "/home/ubuntu/ota/100MB",
        "payloadType": "str",
        "topic": "",
        "topicType": "str",
        "x": 340,
        "y": 280,
        "wires": [
            [
                "69fbd83.7580f28"
            ]
        ]
    },
    {
        "id": "7511971e.449e48",
        "type": "ui_text",
        "z": "8dca534144bd912e",
        "group": "75212cba7220a85b",
        "order": 11,
        "width": "12",
        "height": 2,
        "name": "",
        "label": "Broadcast MQTT Update Message ",
        "format": "Update message sent at {{msg.timestamp}}, to {{msg.topic}}",
        "layout": "row-spread",
        "className": "",
        "x": 410,
        "y": 520,
        "wires": []
    },
    {
        "id": "f2dfb517.7572f8",
        "type": "ui_button",
        "z": "8dca534144bd912e",
        "name": "New Campaign",
        "group": "75212cba7220a85b",
        "order": 5,
        "width": 8,
        "height": 1,
        "passthru": false,
        "label": "New Campaign",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "{\"title\":\"Completed Vehicles\",\"description\":\"\"}",
        "payloadType": "str",
        "topic": "",
        "topicType": "str",
        "x": 300,
        "y": 880,
        "wires": [
            [
                "8b8739af.9e7e18"
            ]
        ]
    },
    {
        "id": "7b269288.58baec",
        "type": "ui_button",
        "z": "8dca534144bd912e",
        "name": "refresh Completion Table",
        "group": "75212cba7220a85b",
        "order": 4,
        "width": 8,
        "height": 1,
        "passthru": false,
        "label": "refresh Completion Table",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "",
        "topicType": "str",
        "x": 730,
        "y": 820,
        "wires": [
            [
                "eb185fd3.4d565"
            ]
        ]
    },
    {
        "id": "69ceda27.906c54",
        "type": "ui_gauge",
        "z": "8dca534144bd912e",
        "name": "Aggegate Real-Time Bandwidth (gauge)",
        "group": "75212cba7220a85b",
        "order": 2,
        "width": 6,
        "height": 8,
        "gtype": "gage",
        "title": "Aggegate Real-Time Bandwidth",
        "label": "Mb/s",
        "format": "{{value | number:1}}",
        "min": 0,
        "max": "2500",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 900,
        "y": 1420,
        "wires": []
    },
    {
        "id": "fff05c25.60bbe",
        "type": "ui_chart",
        "z": "8dca534144bd912e",
        "name": "Aggregate Bandwidth over Time (Chart)",
        "group": "75212cba7220a85b",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "Aggregate Bandwidth over Time ",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "3",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 900,
        "y": 1460,
        "wires": [
            []
        ]
    },
    {
        "id": "77f11210.7b3b3c",
        "type": "ui_list",
        "z": "8dca534144bd912e",
        "group": "75212cba7220a85b",
        "name": "UI for Completion Table",
        "order": 1,
        "width": 6,
        "height": 15,
        "lineType": "two",
        "actionType": "none",
        "allowHTML": false,
        "outputs": 0,
        "topic": "",
        "x": 1040,
        "y": 1020,
        "wires": []
    },
    {
        "id": "5fccc70202442884",
        "type": "comment",
        "z": "8cfabf217d39cd0b",
        "name": "Listen for Connect, Close, LWT messages",
        "info": "",
        "x": 230,
        "y": 100,
        "wires": []
    },
    {
        "id": "259be2952560c507",
        "type": "mqtt in",
        "z": "8cfabf217d39cd0b",
        "name": "Listen for Connect Messages",
        "topic": "demo/ota/clientstate/connected",
        "qos": "2",
        "datatype": "auto",
        "broker": "3c9fafa.7dd6a5",
        "nl": false,
        "rap": false,
        "rh": "0",
        "inputs": 0,
        "x": 180,
        "y": 160,
        "wires": [
            [
                "fae8026f3ce53e33",
                "5a6a80e5e0c2c51a"
            ]
        ]
    },
    {
        "id": "8ee7711197662b06",
        "type": "file",
        "z": "8cfabf217d39cd0b",
        "name": "Write Client State File",
        "filename": "filename",
        "filenameType": "msg",
        "appendNewline": true,
        "createDir": true,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 860,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "fae8026f3ce53e33",
        "type": "template",
        "z": "8cfabf217d39cd0b",
        "name": "Set Filename",
        "field": "filename",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "/data/clientstate/{{payload}}",
        "output": "str",
        "x": 470,
        "y": 160,
        "wires": [
            [
                "8ee7711197662b06"
            ]
        ]
    },
    {
        "id": "dcf53e4a34408b5b",
        "type": "mqtt in",
        "z": "8cfabf217d39cd0b",
        "name": "Listen for Close Messages",
        "topic": "demo/ota/clientstate/closed",
        "qos": "2",
        "datatype": "auto",
        "broker": "3c9fafa.7dd6a5",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 170,
        "y": 220,
        "wires": [
            [
                "25108b8a48b02c49",
                "5a6a80e5e0c2c51a"
            ]
        ]
    },
    {
        "id": "25108b8a48b02c49",
        "type": "template",
        "z": "8cfabf217d39cd0b",
        "name": "Set Filename",
        "field": "filename",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "/data/clientstate/{{payload}}",
        "output": "str",
        "x": 470,
        "y": 220,
        "wires": [
            [
                "99e63b4b84476605"
            ]
        ]
    },
    {
        "id": "78c4256be97542aa",
        "type": "mqtt in",
        "z": "8cfabf217d39cd0b",
        "name": "Listen for lwt Messages",
        "topic": "demo/ota/clientstate/lwt",
        "qos": "2",
        "datatype": "auto",
        "broker": "3c9fafa.7dd6a5",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 160,
        "y": 280,
        "wires": [
            [
                "25108b8a48b02c49",
                "dc50cfb0371d99d9",
                "5a6a80e5e0c2c51a"
            ]
        ]
    },
    {
        "id": "99e63b4b84476605",
        "type": "file",
        "z": "8cfabf217d39cd0b",
        "name": "Delete Client State File",
        "filename": "filename",
        "filenameType": "msg",
        "appendNewline": true,
        "createDir": false,
        "overwriteFile": "delete",
        "encoding": "none",
        "x": 860,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "ccb2822d242f60b4",
        "type": "file",
        "z": "8cfabf217d39cd0b",
        "name": "Track LWT messages (Disconnect Monitor)",
        "filename": "filename",
        "filenameType": "msg",
        "appendNewline": true,
        "createDir": true,
        "overwriteFile": "true",
        "encoding": "none",
        "x": 930,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "dc50cfb0371d99d9",
        "type": "template",
        "z": "8cfabf217d39cd0b",
        "name": "Set Filename",
        "field": "filename",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "/data/disconnects/{{payload}}",
        "output": "str",
        "x": 470,
        "y": 280,
        "wires": [
            [
                "ccb2822d242f60b4"
            ]
        ]
    },
    {
        "id": "a5b9556a82b41949",
        "type": "ui_list",
        "z": "8cfabf217d39cd0b",
        "group": "7472a7f101b1b2b6",
        "name": "Client State Table",
        "order": 1,
        "width": 6,
        "height": 14,
        "lineType": "two",
        "actionType": "click",
        "allowHTML": false,
        "outputs": 1,
        "topic": "",
        "x": 150,
        "y": 660,
        "wires": [
            [
                "136ebacdd0a6d1a1",
                "67c943f0610bfbaa"
            ]
        ]
    },
    {
        "id": "136ebacdd0a6d1a1",
        "type": "template",
        "z": "8cfabf217d39cd0b",
        "name": "Set Topic to unique Client Topic",
        "field": "topic",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "demo/ota/{{payload.title}}/state",
        "output": "str",
        "x": 190,
        "y": 740,
        "wires": [
            [
                "59bae2e06b655c02"
            ]
        ]
    },
    {
        "id": "cc08955e145a3e3f",
        "type": "template",
        "z": "8cfabf217d39cd0b",
        "name": "Format Message",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "{\"url\": \"https://ota.mqtttest.com/100MB\",\"file\": \"100MB\",\"time\":\"{{timestamp}}\"}",
        "output": "str",
        "x": 150,
        "y": 860,
        "wires": [
            [
                "c6d10c8b0f670079"
            ]
        ]
    },
    {
        "id": "c6d10c8b0f670079",
        "type": "mqtt out",
        "z": "8cfabf217d39cd0b",
        "name": "Send to Client",
        "topic": "",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "3c9fafa.7dd6a5",
        "x": 140,
        "y": 920,
        "wires": []
    },
    {
        "id": "cf8115b01a887e92",
        "type": "ui_button",
        "z": "8cfabf217d39cd0b",
        "name": "",
        "group": "7472a7f101b1b2b6",
        "order": 8,
        "width": "6",
        "height": 1,
        "passthru": false,
        "label": "Refresh Client State",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "",
        "topicType": "str",
        "x": 160,
        "y": 420,
        "wires": [
            [
                "03219cf6e067f884"
            ]
        ]
    },
    {
        "id": "59bae2e06b655c02",
        "type": "change",
        "z": "8cfabf217d39cd0b",
        "name": "place timestamp ",
        "rules": [
            {
                "t": "set",
                "p": "timestamp",
                "pt": "msg",
                "to": "",
                "tot": "date"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 150,
        "y": 800,
        "wires": [
            [
                "cc08955e145a3e3f"
            ]
        ]
    },
    {
        "id": "8640955a572a4486",
        "type": "template",
        "z": "8cfabf217d39cd0b",
        "name": "form JSON of Active Clients",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "{\"title\":\"{{payload}}\",\"description\":\"Connected\",\"icon\":\"https://cdn.iconscout.com/icon/free/png-256/gas-pump-2664449-2208711.png\"}",
        "output": "json",
        "x": 180,
        "y": 540,
        "wires": [
            [
                "4a894c98a73ffddb"
            ]
        ]
    },
    {
        "id": "4a894c98a73ffddb",
        "type": "join",
        "z": "8cfabf217d39cd0b",
        "name": "Create Single Array of Active Clients",
        "mode": "custom",
        "build": "array",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "2",
        "count": "",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 210,
        "y": 600,
        "wires": [
            [
                "a5b9556a82b41949"
            ]
        ]
    },
    {
        "id": "1608835cd1daeaf5",
        "type": "comment",
        "z": "8cfabf217d39cd0b",
        "name": "Build Client State Table",
        "info": "",
        "x": 160,
        "y": 380,
        "wires": []
    },
    {
        "id": "641b8ae308986642",
        "type": "comment",
        "z": "8cfabf217d39cd0b",
        "name": "Individual Download (Action when user clicks on single state table entry)",
        "info": "",
        "x": 320,
        "y": 700,
        "wires": []
    },
    {
        "id": "5a6a80e5e0c2c51a",
        "type": "debug",
        "z": "8cfabf217d39cd0b",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 620,
        "y": 400,
        "wires": []
    },
    {
        "id": "03219cf6e067f884",
        "type": "fs-file-lister",
        "z": "8cfabf217d39cd0b",
        "name": "Build List of Active Clients",
        "start": "/data/clientstate",
        "pattern": "client*",
        "folders": "*",
        "hidden": false,
        "lstype": "files",
        "path": false,
        "single": false,
        "depth": 0,
        "stat": false,
        "showWarnings": false,
        "x": 180,
        "y": 480,
        "wires": [
            [
                "8640955a572a4486"
            ]
        ]
    },
    {
        "id": "74d27090b7977af3",
        "type": "comment",
        "z": "8cfabf217d39cd0b",
        "name": "Chat",
        "info": "",
        "x": 890,
        "y": 560,
        "wires": []
    },
    {
        "id": "67c943f0610bfbaa",
        "type": "template",
        "z": "8cfabf217d39cd0b",
        "name": "Direct Chat - Change Topic to ClientID",
        "field": "topic",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "demo/ota/chat/{{payload.title}}",
        "output": "str",
        "x": 1000,
        "y": 640,
        "wires": [
            [
                "bbac9a4f34a90e32"
            ]
        ]
    },
    {
        "id": "6ef43ff35174bf66",
        "type": "ui_text_input",
        "z": "8cfabf217d39cd0b",
        "name": "Text Chat Input",
        "label": "",
        "tooltip": "",
        "group": "7472a7f101b1b2b6",
        "order": 9,
        "width": 0,
        "height": 0,
        "passthru": false,
        "mode": "text",
        "delay": "200",
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 960,
        "y": 800,
        "wires": [
            [
                "9256f1f38e000ea2"
            ]
        ]
    },
    {
        "id": "9256f1f38e000ea2",
        "type": "debug",
        "z": "8cfabf217d39cd0b",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1260,
        "y": 840,
        "wires": []
    },
    {
        "id": "bbac9a4f34a90e32",
        "type": "change",
        "z": "8cfabf217d39cd0b",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1150,
        "y": 700,
        "wires": [
            [
                "6ef43ff35174bf66"
            ]
        ]
    },
    {
        "id": "84f5042d46cddeb6",
        "type": "mqtt in",
        "z": "8cfabf217d39cd0b",
        "name": "Listen for Connect Messages",
        "topic": "demo/ota/clientstate/#",
        "qos": "2",
        "datatype": "auto",
        "broker": "3c9fafa.7dd6a5",
        "nl": false,
        "rap": false,
        "rh": "0",
        "inputs": 0,
        "x": 190,
        "y": 40,
        "wires": [
            [
                "245ba3b3bd274f41"
            ]
        ]
    },
    {
        "id": "245ba3b3bd274f41",
        "type": "debug",
        "z": "8cfabf217d39cd0b",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 550,
        "y": 40,
        "wires": []
    },
    {
        "id": "69487eeabd15512f",
        "type": "ui_button",
        "z": "8cfabf217d39cd0b",
        "name": "",
        "group": "7472a7f101b1b2b6",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Clear Chat Window",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": " {clear}",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 940,
        "y": 880,
        "wires": [
            [
                "6ef43ff35174bf66"
            ]
        ]
    },
    {
        "id": "4db1db5071d9a5dc",
        "type": "mqtt in",
        "z": "8cfabf217d39cd0b",
        "name": "",
        "topic": "",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "3c9fafa.7dd6a5",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 1,
        "x": 830,
        "y": 1000,
        "wires": [
            [
                "6bdc9b666ea559e2",
                "f28d75a2ac562dfa"
            ]
        ]
    },
    {
        "id": "3dd6f36f844dd3ab",
        "type": "inject",
        "z": "8cfabf217d39cd0b",
        "name": "",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "x": 590,
        "y": 920,
        "wires": [
            [
                "c254c66ceff475a2"
            ]
        ]
    },
    {
        "id": "c254c66ceff475a2",
        "type": "template",
        "z": "8cfabf217d39cd0b",
        "name": "",
        "field": "topic",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "demo/ota/chat/{{env.CLIENTID}}",
        "output": "str",
        "x": 660,
        "y": 1000,
        "wires": [
            [
                "4db1db5071d9a5dc",
                "60f18e7ed2a091ea"
            ]
        ]
    },
    {
        "id": "6bdc9b666ea559e2",
        "type": "debug",
        "z": "8cfabf217d39cd0b",
        "name": "debug 6",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1120,
        "y": 980,
        "wires": []
    },
    {
        "id": "f28d75a2ac562dfa",
        "type": "ui_text",
        "z": "8cfabf217d39cd0b",
        "group": "7472a7f101b1b2b6",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "View Messages",
        "label": "View Messages",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "x": 1020,
        "y": 1060,
        "wires": []
    },
    {
        "id": "60f18e7ed2a091ea",
        "type": "debug",
        "z": "8cfabf217d39cd0b",
        "name": "debug 7",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 920,
        "y": 940,
        "wires": []
    },
    {
        "id": "eb8b6ce3cade45e3",
        "type": "fs-file-lister",
        "z": "7a4a7748d405d181",
        "name": "",
        "start": "/home/ubuntu/clientstate/",
        "pattern": "vehicle*",
        "folders": "*",
        "hidden": false,
        "lstype": "both",
        "path": false,
        "single": false,
        "depth": "1",
        "stat": false,
        "showWarnings": true,
        "x": 100,
        "y": 220,
        "wires": [
            [
                "178f3dc719ab7176"
            ]
        ]
    },
    {
        "id": "1e64a4ee060e890b",
        "type": "ui_button",
        "z": "7a4a7748d405d181",
        "name": "Rate Limit Message Release",
        "group": "7f15192b8bf0eddd",
        "order": 6,
        "width": "6",
        "height": 1,
        "passthru": false,
        "label": "Rate Limit Message Release",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "",
        "topicType": "str",
        "x": 160,
        "y": 160,
        "wires": [
            [
                "eb8b6ce3cade45e3"
            ]
        ]
    },
    {
        "id": "178f3dc719ab7176",
        "type": "delay",
        "z": "7a4a7748d405d181",
        "name": "",
        "pauseType": "rate",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "outputs": 1,
        "x": 110,
        "y": 280,
        "wires": [
            [
                "da06b3cd52d66604"
            ]
        ]
    },
    {
        "id": "207d54bde070a872",
        "type": "template",
        "z": "7a4a7748d405d181",
        "name": "Format Message",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "{\"url\": \"https://ota.mqtttest.com/100MB\",\"file\": \"100MB\",\"time\":\"{{timestamp}}\"}",
        "output": "str",
        "x": 130,
        "y": 460,
        "wires": [
            [
                "2eea139a5cd65dd5"
            ]
        ]
    },
    {
        "id": "ab6451da385b4715",
        "type": "change",
        "z": "7a4a7748d405d181",
        "name": "place timestamp ",
        "rules": [
            {
                "t": "set",
                "p": "timestamp",
                "pt": "msg",
                "to": "",
                "tot": "date"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 130,
        "y": 400,
        "wires": [
            [
                "207d54bde070a872"
            ]
        ]
    },
    {
        "id": "2eea139a5cd65dd5",
        "type": "mqtt out",
        "z": "7a4a7748d405d181",
        "name": "Send to Client",
        "topic": "",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "3c9fafa.7dd6a5",
        "x": 120,
        "y": 520,
        "wires": []
    },
    {
        "id": "da06b3cd52d66604",
        "type": "template",
        "z": "7a4a7748d405d181",
        "name": "Set Topic",
        "field": "topic",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "demo/ota/{{payload}}/state",
        "output": "str",
        "x": 100,
        "y": 340,
        "wires": [
            [
                "ab6451da385b4715"
            ]
        ]
    },
    {
        "id": "43d6b612d008cd43",
        "type": "fs-file-lister",
        "z": "29c7ce68c65995bf",
        "name": "Check Client State Table",
        "start": "/data/clientstate/",
        "pattern": "vehicle*",
        "folders": "*",
        "hidden": false,
        "lstype": "both",
        "path": false,
        "single": false,
        "depth": "1",
        "stat": false,
        "showWarnings": true,
        "x": 150,
        "y": 140,
        "wires": [
            [
                "92204223fcc3d10f"
            ]
        ]
    },
    {
        "id": "0f6dbdfbedb33f97",
        "type": "ui_button",
        "z": "29c7ce68c65995bf",
        "name": "Intelligent Download Meter",
        "group": "6748018c09ef6763",
        "order": 7,
        "width": "6",
        "height": 1,
        "passthru": false,
        "label": "Intelligent Download Meter",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "",
        "topicType": "str",
        "x": 160,
        "y": 80,
        "wires": [
            [
                "43d6b612d008cd43"
            ]
        ]
    },
    {
        "id": "92204223fcc3d10f",
        "type": "delay",
        "z": "29c7ce68c65995bf",
        "name": "Rate Limit State Entries to 1 per 2sec",
        "pauseType": "rate",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "3",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "outputs": 1,
        "x": 190,
        "y": 200,
        "wires": [
            [
                "b19d8c8ee094a8a4"
            ]
        ]
    },
    {
        "id": "17bb5a8debf1e182",
        "type": "template",
        "z": "29c7ce68c65995bf",
        "name": "Format MQTT message to client ",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "{\"url\": \"https://ota.mqtttest.com/100MB\",\"file\": \"100MB\",\"time\":\"{{timestamp}}\"}",
        "output": "str",
        "x": 550,
        "y": 500,
        "wires": [
            [
                "40b03cdb35901812"
            ]
        ]
    },
    {
        "id": "6e394731a2c24eac",
        "type": "change",
        "z": "29c7ce68c65995bf",
        "name": "place timestamp on outgoing message",
        "rules": [
            {
                "t": "set",
                "p": "timestamp",
                "pt": "msg",
                "to": "",
                "tot": "date"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 570,
        "y": 440,
        "wires": [
            [
                "17bb5a8debf1e182"
            ]
        ]
    },
    {
        "id": "40b03cdb35901812",
        "type": "mqtt out",
        "z": "29c7ce68c65995bf",
        "name": "Send to Client via IOT Edge Connect",
        "topic": "",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "3c9fafa.7dd6a5",
        "x": 570,
        "y": 560,
        "wires": []
    },
    {
        "id": "b19d8c8ee094a8a4",
        "type": "template",
        "z": "29c7ce68c65995bf",
        "name": "Format Client Topic",
        "field": "topic",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "demo/ota/{{payload}}/state",
        "output": "str",
        "x": 440,
        "y": 260,
        "wires": [
            [
                "02ef3bbd5dd0c35b"
            ]
        ]
    },
    {
        "id": "02ef3bbd5dd0c35b",
        "type": "file in",
        "z": "29c7ce68c65995bf",
        "name": "Read current Bandwidth Statistics",
        "filename": "/data/bandwidth",
        "filenameType": "str",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": false,
        "x": 180,
        "y": 320,
        "wires": [
            [
                "3dd481ba20eef475"
            ]
        ]
    },
    {
        "id": "1c9244c05318fb08",
        "type": "delay",
        "z": "29c7ce68c65995bf",
        "name": "hold-down timer if bandwidth > 2.5Gbps",
        "pauseType": "delay",
        "timeout": "2",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "outputs": 1,
        "x": 200,
        "y": 380,
        "wires": [
            [
                "02ef3bbd5dd0c35b"
            ]
        ]
    },
    {
        "id": "3dd481ba20eef475",
        "type": "switch",
        "z": "29c7ce68c65995bf",
        "name": "Check if BW rate is above 2.5Gbps",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "gte",
                "v": "2000",
                "vt": "num"
            },
            {
                "t": "lt",
                "v": "2000",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 540,
        "y": 320,
        "wires": [
            [
                "1c9244c05318fb08"
            ],
            [
                "6e394731a2c24eac"
            ]
        ]
    },
    {
        "id": "40f385c20a7ed5ab",
        "type": "inject",
        "z": "e3dc46e26aa5dc2d",
        "name": "Inject epoch time every 1 second",
        "props": [
            {
                "p": "payload.timestamp",
                "v": "",
                "vt": "date"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 220,
        "y": 200,
        "wires": [
            [
                "37110c7d66d4f033"
            ]
        ]
    },
    {
        "id": "6e405e276ae5e4c1",
        "type": "comment",
        "z": "e3dc46e26aa5dc2d",
        "name": "Publish message with current time",
        "info": "",
        "x": 220,
        "y": 160,
        "wires": []
    },
    {
        "id": "a3570a9c9ebca9c6",
        "type": "mqtt out",
        "z": "e3dc46e26aa5dc2d",
        "name": "Publish latency test message to MQTT",
        "topic": "demo/sie/latency/messages",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "3c9fafa.7dd6a5",
        "x": 710,
        "y": 280,
        "wires": []
    },
    {
        "id": "f2cbffe58bdce935",
        "type": "comment",
        "z": "e3dc46e26aa5dc2d",
        "name": "Receive Test Messages and Measure Latency",
        "info": "",
        "x": 250,
        "y": 300,
        "wires": []
    },
    {
        "id": "6eb2394e58986df1",
        "type": "mqtt in",
        "z": "e3dc46e26aa5dc2d",
        "name": "Subscribe to Latency Test Messages via MQTT",
        "topic": "demo/sie/latency/messages",
        "qos": "2",
        "datatype": "json",
        "broker": "3c9fafa.7dd6a5",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 260,
        "y": 360,
        "wires": [
            [
                "e02dc13b190d8117"
            ]
        ]
    },
    {
        "id": "e02dc13b190d8117",
        "type": "function",
        "z": "e3dc46e26aa5dc2d",
        "name": "Measure Publish-Subscribe Latency of message",
        "func": "var now = Date.now();\nvar then = msg.payload.timestamp;\nmsg.payload.latency = now - then;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 260,
        "y": 420,
        "wires": [
            [
                "679bc17c490e1e4c",
                "2d05e99d94147605"
            ]
        ]
    },
    {
        "id": "5cbe8bdf544b1489",
        "type": "mqtt out",
        "z": "e3dc46e26aa5dc2d",
        "name": "Publish Latency Results to MQTT",
        "topic": "demo/sie/latency/results",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "3c9fafa.7dd6a5",
        "x": 220,
        "y": 540,
        "wires": []
    },
    {
        "id": "7e2f7f49bbda1efb",
        "type": "comment",
        "z": "e3dc46e26aa5dc2d",
        "name": "Listen and Graph Results",
        "info": "",
        "x": 190,
        "y": 580,
        "wires": []
    },
    {
        "id": "433b3947a03535a1",
        "type": "mqtt in",
        "z": "e3dc46e26aa5dc2d",
        "name": "Listen for Latency Result messages",
        "topic": "demo/sie/latency/results",
        "qos": "2",
        "datatype": "json",
        "broker": "3c9fafa.7dd6a5",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 220,
        "y": 620,
        "wires": [
            [
                "bdaf783791137484"
            ]
        ]
    },
    {
        "id": "b808e203845b4aa1",
        "type": "ui_chart",
        "z": "e3dc46e26aa5dc2d",
        "name": "Graph Latency Results",
        "group": "6868ab09dbcd3929",
        "order": 0,
        "width": "18",
        "height": "10",
        "label": "Publish/Subscribe Latency",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "1000",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 180,
        "y": 800,
        "wires": [
            []
        ]
    },
    {
        "id": "37110c7d66d4f033",
        "type": "change",
        "z": "e3dc46e26aa5dc2d",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload.publisher.countryCode",
                "pt": "msg",
                "to": "countryCode",
                "tot": "global",
                "dc": true
            },
            {
                "t": "set",
                "p": "payload.publisher.org",
                "pt": "msg",
                "to": "org",
                "tot": "global",
                "dc": true
            },
            {
                "t": "set",
                "p": "payload.publisher.regionName",
                "pt": "msg",
                "to": "regionName",
                "tot": "global",
                "dc": true
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 500,
        "y": 200,
        "wires": [
            [
                "a3570a9c9ebca9c6"
            ]
        ]
    },
    {
        "id": "679bc17c490e1e4c",
        "type": "debug",
        "z": "e3dc46e26aa5dc2d",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 550,
        "y": 480,
        "wires": []
    },
    {
        "id": "2d05e99d94147605",
        "type": "change",
        "z": "e3dc46e26aa5dc2d",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload.subscriber.countryCode",
                "pt": "msg",
                "to": "countryCode",
                "tot": "global",
                "dc": true
            },
            {
                "t": "set",
                "p": "payload.subscriber.org",
                "pt": "msg",
                "to": "org",
                "tot": "global",
                "dc": true
            },
            {
                "t": "set",
                "p": "payload.subscriber.regionName",
                "pt": "msg",
                "to": "regionName",
                "tot": "global",
                "dc": true
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 220,
        "y": 480,
        "wires": [
            [
                "5cbe8bdf544b1489"
            ]
        ]
    },
    {
        "id": "d677fa015ce7a2b6",
        "type": "debug",
        "z": "e3dc46e26aa5dc2d",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 550,
        "y": 600,
        "wires": []
    },
    {
        "id": "bdaf783791137484",
        "type": "template",
        "z": "e3dc46e26aa5dc2d",
        "name": "Change Topic to Publish/Subscribe locations",
        "field": "topic",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "From: {{payload.publisher.org}} - {{payload.publisher.countryCode}} - {{payload.publisher.regionName}} To: {{payload.subscriber.org}} - {{payload.subscriber.countryCode}} - {{payload.subscriber.regionName}} ",
        "output": "str",
        "x": 250,
        "y": 680,
        "wires": [
            [
                "7e15a4648f1f766f"
            ]
        ]
    },
    {
        "id": "7e15a4648f1f766f",
        "type": "change",
        "z": "e3dc46e26aa5dc2d",
        "name": "Set Latency as Payload for graphing",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.latency",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 230,
        "y": 740,
        "wires": [
            [
                "b808e203845b4aa1",
                "d677fa015ce7a2b6"
            ]
        ]
    },
    {
        "id": "59b7ea26177bccd7",
        "type": "http request",
        "z": "229d7a7631bbf000",
        "name": "Lookup public IP address",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "wgetip.com",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 210,
        "y": 140,
        "wires": [
            [
                "a97a0d43069e4583"
            ]
        ]
    },
    {
        "id": "a97a0d43069e4583",
        "type": "template",
        "z": "229d7a7631bbf000",
        "name": "Format GeoIP Lookup",
        "field": "url",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "http://ip-api.com/json/{{payload}}",
        "output": "str",
        "x": 200,
        "y": 180,
        "wires": [
            [
                "f88a7d07ac97dc53"
            ]
        ]
    },
    {
        "id": "f88a7d07ac97dc53",
        "type": "http request",
        "z": "229d7a7631bbf000",
        "name": "GeoIP Lookup",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 180,
        "y": 220,
        "wires": [
            [
                "c3a6e5545592b7ca"
            ]
        ]
    },
    {
        "id": "c3a6e5545592b7ca",
        "type": "change",
        "z": "229d7a7631bbf000",
        "name": "Set Global Variables ",
        "rules": [
            {
                "t": "set",
                "p": "regionName",
                "pt": "global",
                "to": "payload.regionName",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "countryCode",
                "pt": "global",
                "to": "payload.countryCode",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "org",
                "pt": "global",
                "to": "payload.org",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 200,
        "y": 260,
        "wires": [
            []
        ]
    },
    {
        "id": "9501098c7c34614e",
        "type": "inject",
        "z": "229d7a7631bbf000",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payloadType": "date",
        "x": 180,
        "y": 80,
        "wires": [
            [
                "59b7ea26177bccd7"
            ]
        ]
    },
    {
        "id": "80d5c170fc2a8c83",
        "type": "inject",
        "z": "a5002017cf33a5c6",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 210,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "23ffb1976978b589",
        "type": "inject",
        "z": "e9c3ce97643fda37",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "CLIENTID",
        "payloadType": "env",
        "x": 170,
        "y": 200,
        "wires": [
            [
                "678df16b47039de3",
                "058ff1afe7fcbdd1"
            ]
        ]
    },
    {
        "id": "678df16b47039de3",
        "type": "exec",
        "z": "e9c3ce97643fda37",
        "command": "export CONNECTED=",
        "addpay": "payload",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 430,
        "y": 200,
        "wires": [
            [
                "dc235624f94974dd"
            ],
            [
                "dc235624f94974dd"
            ],
            [
                "dc235624f94974dd"
            ]
        ]
    },
    {
        "id": "dc235624f94974dd",
        "type": "debug",
        "z": "e9c3ce97643fda37",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 700,
        "y": 200,
        "wires": []
    },
    {
        "id": "058ff1afe7fcbdd1",
        "type": "debug",
        "z": "e9c3ce97643fda37",
        "name": "debug 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 280,
        "y": 80,
        "wires": []
    },
    {
        "id": "f06a9a0342cf8454",
        "type": "inject",
        "z": "e9c3ce97643fda37",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "TEST",
        "payloadType": "env",
        "x": 310,
        "y": 380,
        "wires": [
            [
                "47549298561c7f1b"
            ]
        ]
    },
    {
        "id": "47549298561c7f1b",
        "type": "debug",
        "z": "e9c3ce97643fda37",
        "name": "debug 4",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 600,
        "y": 380,
        "wires": []
    },
    {
        "id": "231e176b5cb1c8dd",
        "type": "template",
        "z": "e9c3ce97643fda37",
        "name": "",
        "field": "connected",
        "fieldType": "global",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "{{env.CLIENTID}}-connected",
        "output": "str",
        "x": 420,
        "y": 520,
        "wires": [
            [
                "840380af3b97c487"
            ]
        ]
    },
    {
        "id": "7ee085aaad2b9fe9",
        "type": "inject",
        "z": "e9c3ce97643fda37",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 160,
        "y": 520,
        "wires": [
            [
                "231e176b5cb1c8dd"
            ]
        ]
    },
    {
        "id": "840380af3b97c487",
        "type": "debug",
        "z": "e9c3ce97643fda37",
        "name": "debug 5",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 580,
        "y": 680,
        "wires": []
    }
]
